<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div style="border:solid 1px">
        <a href="{{properties.ruta}}/books">Books</a>
        <a href="{{properties.ruta}}/sales">My sales</a>
        <a href="{{properties.ruta}}/my-books">My Books</a>
        <hr>
        <form action="{{properties.ruta}}/books/search" method="get">
            <lablel>Title</label>
            <input type="text" name="title">
            <label>Author</label>
            <input type="text" name="author">
            <input type="submit" value="Search">
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>